app-switcher {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  background: pink;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;

  .container {
    width: 200px;
    height: 200px;
    position: relative;
    background: pink;
  }

}
